n8n-files/workflows/jXyEy87687DA8SB3bXTY4.json
[{"updatedAt":"2026-01-08T10:47:38.086Z","createdAt":"2026-01-07T16:32:09.702Z","id":"jXyEy87687DA8SB3bXTY4","name":"Calendar - Google","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"calendar":{"__rl":true,"value":"28f00b5f415b203d5cd1679f1a7d31be1f918472c3a470e8bbb9fdc249584962@group.calendar.google.com","mode":"list","cachedResultName":"Counters"},"start":"={{ $now.minus({ days: 1 }) }}","end":"={{ $now.minus({ days: 1 }).plus(1, 'hour') }}","additionalFields":{"allday":"yes","color":"={{ \n{\n  \"Tomato\": 11,\n  \"Flamingo\": 4,\n  \"Tangerine\": 6,\n  \"Banana\": 5,\n  \"Sage\": 2,\n  \"Basil\": 10,\n  \"Peacock\": 7,\n  \"Blueberry\": 9,\n  \"Lavender\": 1,\n  \"Grape\": 3,\n  \"Graphite\": 8\n}[$json.color] \n}}","summary":"={{ $('Execute a SQL query').item.json.code + \" x \" + $('Execute a SQL query').item.json.total_count }}\n\n{{$json.color}}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[656,16],"id":"7892d33e-c73f-4a76-a127-946e977ed7ee","name":"Create an event","credentials":{"googleCalendarOAuth2Api":{"id":"ryrb6QLQ68AwVAMv","name":"Google Calendar account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    e.event_type_id,\n    et.code,\n    et.color,\n    SUM(e.count) AS total_count\nFROM event e\nLEFT JOIN event_type et\n    ON e.event_type_id = et.id\nWHERE e.date = CURDATE() - INTERVAL 1 DAY\nGROUP BY e.event_type_id, et.code, et.color\nORDER BY e.event_type_id;","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[208,0],"id":"72bfc237-4012-4486-b218-7c2063dd6e43","name":"Execute a SQL query","credentials":{"mySql":{"id":"ONQzGbSHHX5ucvcG","name":"MySQL account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[416,0],"id":"2c3427ca-2ad4-4a0b-8def-5bc4043f89f5","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[16,0],"id":"32291f9a-f16a-46bc-9b10-cbf0560d314f","name":"Schedule Trigger"}],"connections":{"Execute a SQL query":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Create an event","type":"main","index":0}]]},"Create an event":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Europe/Riga","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Qpk9EPXmyxpivRVUQEE_n"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c3216b7-ebe9-41cd-9243-c5a2768cd576","activeVersionId":"8c3216b7-ebe9-41cd-9243-c5a2768cd576","versionCounter":20,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-07T16:32:09.704Z","createdAt":"2026-01-07T16:32:09.704Z","role":"workflow:owner","workflowId":"jXyEy87687DA8SB3bXTY4","projectId":"b2VmBhRYud2FAMO3","project":{"updatedAt":"2026-01-05T19:06:18.293Z","createdAt":"2026-01-05T18:32:30.343Z","id":"b2VmBhRYud2FAMO3","name":"Janis Krumins <krumins1979@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"4e9f6cd4-0f8c-48e5-a1b8-91374f35d791"}}]}]