n8n-files/workflows/u0w4eW2YEKovuCzls4m6U.json
[{"updatedAt":"2026-01-07T13:29:16.637Z","createdAt":"2026-01-07T12:13:05.826Z","id":"u0w4eW2YEKovuCzls4m6U","name":"Admin - Export Workflows","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-320,-128],"id":"a879046d-6b03-48ae-966d-a96fef94067b","name":"When clicking ‘Execute workflow’"},{"parameters":{"command":"=n8n export:workflow --id {{ $json.id }} --output=/files/workflows/{{ $json.id }}.json "},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[336,-112],"id":"52959553-973d-4d29-8b9d-740ada042446","name":"Execute Command"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-112,-128],"id":"39f0090c-b8b1-41e4-8d4e-d14f63b31129","name":"Get many workflows","credentials":{"n8nApi":{"id":"16zYUWpgcQJ6rO7N","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[96,-128],"id":"01317994-f18c-4800-8bfc-6543d8c85a43","name":"Loop Over Items"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0a51bd48-8997-4078-82a5-b45fa2e4e638","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-07T12:13:05.828Z","createdAt":"2026-01-07T12:13:05.828Z","role":"workflow:owner","workflowId":"u0w4eW2YEKovuCzls4m6U","projectId":"b2VmBhRYud2FAMO3","project":{"updatedAt":"2026-01-05T19:06:18.293Z","createdAt":"2026-01-05T18:32:30.343Z","id":"b2VmBhRYud2FAMO3","name":"Janis Krumins <krumins1979@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"4e9f6cd4-0f8c-48e5-a1b8-91374f35d791"}}]}]