n8n-files/workflows/V-c6dZum0UQ6g0IEfzK2y.json
[{"updatedAt":"2026-01-07T12:05:29.533Z","createdAt":"2026-01-06T17:00:04.012Z","id":"V-c6dZum0UQ6g0IEfzK2y","name":"Calendar - Events","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","hasOutputParser":true,"options":{"systemMessage":"=# System message\n\nYou are a productivity assistant who helps to categorize behaviour events. The user will input a short message indicating the event and quantity. Your task is to categorize and quntify the event based on the user input and event categories. \n\n# Event categories\n\n {{ $json.data.toJsonString() }}\n\n# Output format in JSON\n\n{id: integer, count: decimal}\n\n# Additional notes\n\n- If no quantity details provides by default assume 1 unit.\n- Category can be provide as code (For example \"AC\" for Alcohol, name or some form of description.\n\n# Examples\n\nUser: I drank 1 beer\nYou: {id: 1, count: 1.0}\n\nUser: GM\nYou: {id: 3, count: 1.0}\n\nUser: GM 3\nYou: {id: 3, count: 1.0}\n\nUser: CG +20\nYou: {id: 3, count: 20.0}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[48,0],"id":"6b7562db-0ba5-477d-b026-ce5d48c1a76c","name":"AI Agent"},{"parameters":{"aggregate":"aggregateAllItemData","include":"specifiedFields","fieldsToInclude":"id, code, name, description, unit_description","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-144,0],"id":"57ce21dc-a12d-47ed-8af8-26ed95689859","name":"Aggregate"},{"parameters":{"table":{"__rl":true,"value":"event","mode":"list","cachedResultName":"event"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"event_type_id","value":"={{ $json.output.id }}"},{"column":"count","value":"={{ $json.output.count }}"},{"column":"date","value":"={{ $now.minus({ hours: 6 }).toFormat('yyyy-MM-dd') }}"},{"column":"raw_text","value":"={{ $('Telegram Trigger').item.json.message.text }}"},{"column":"source","value":"TEXT"},{"column":"created_at","value":"={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\n"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[352,0],"id":"49da38f8-01ca-401c-9d96-b4946621a9d2","name":"Insert event","credentials":{"mySql":{"id":"ONQzGbSHHX5ucvcG","name":"MySQL account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[48,192],"id":"d7d5150b-430b-44cb-b328-e27081409951","name":"Model","credentials":{"openAiApi":{"id":"3K9t4yixm5h596xD","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"integer\"\n    },\n    \"count\": {\n      \"type\": \"number\",\n      \"multipleOf\": 0.1\n    }\n  },\n  \"required\": [\"id\", \"count\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[192,192],"id":"89ba96ca-d585-4bc6-888f-0b0dc9b6fc32","name":"JSON Parser"},{"parameters":{"operation":"select","table":{"__rl":true,"value":"event_type","mode":"name"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[-336,0],"id":"b85763cd-ec04-4a1d-b2fe-1e7f27883bc1","name":"Select all event_type","credentials":{"mySql":{"id":"ONQzGbSHHX5ucvcG","name":"MySQL account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-528,0],"id":"115eb282-f96a-469d-ac95-47ecfbefa4ac","name":"Telegram Trigger","webhookId":"776eb25f-00ee-48ba-9883-071ea13160d6","credentials":{"telegramApi":{"id":"ZgRXMIL89jy5ZyIp","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ \n  $json.success\n    ? \"Event was added:, \" \n        + $('Aggregate').item.json.data\n            .find(e => e.id === $('AI Agent').item.json.output.id)?.code\n        + \" +\" \n        + $('AI Agent').item.json.output.count\n    : \"Error\"\n}}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[544,0],"id":"2cf8cf9c-3255-4f08-b3f7-eb77767294b4","name":"Insert status reply","webhookId":"498717d8-890d-4e07-8e4c-b1fb99615d87","credentials":{"telegramApi":{"id":"ZgRXMIL89jy5ZyIp","name":"Telegram account"}}}],"connections":{"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Insert event","type":"main","index":0}]]},"Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"JSON Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Select all event_type":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Select all event_type","type":"main","index":0}]]},"Insert event":{"main":[[{"node":"Insert status reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Europe/Riga","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"Qpk9EPXmyxpivRVUQEE_n"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"14f41895-bfee-46b6-876b-b5fc855f4917","activeVersionId":"14f41895-bfee-46b6-876b-b5fc855f4917","versionCounter":40,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-06T17:00:04.019Z","createdAt":"2026-01-06T17:00:04.019Z","role":"workflow:owner","workflowId":"V-c6dZum0UQ6g0IEfzK2y","projectId":"b2VmBhRYud2FAMO3","project":{"updatedAt":"2026-01-05T19:06:18.293Z","createdAt":"2026-01-05T18:32:30.343Z","id":"b2VmBhRYud2FAMO3","name":"Janis Krumins <krumins1979@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"4e9f6cd4-0f8c-48e5-a1b8-91374f35d791"}}]}]